# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-store/

# Expo
.expo/
.expo-shared/
dist/

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Mapas y backups pesados
*.osm.pbf
*.mbtiles
*.tar.gz
*.tar
backup_mapa/
*.bak
*.backup

# Sistema
.DS_Store
Thumbs.db
*.log
*.tmp
.env
.env.local

# Builds
build/
.next/
android/app/build/
android/build/
ios/Pods/
ios/build/

# Editor
.idea/
*.swp
